{% extends 'base.html' %}

{% block title %}
Gif Search
{% endblock %}

{% block content %}
<h1>Star Wars API</h1>
<form action="/swapi" method="POST">
    <fieldset>
        <legend>Your Info:</legend>
        <p>
            Type in a star wars category:
            <input type="text" id="category" name="category"><br><br>
        </p>
        <p>
            <label>
                Type in a character ID:
                <input type="text" id="character_id" name="character_id"><br><br>
            </label>
        </p>

        <input type="submit" value="Search for GIFs1">
    </fieldset>
</form>

{% if gifs %}
    <section id="form_results">
        <p>
            Here is your GIF:
        </p>

        {% for gif in gifs %}
        <p>
            Name:
            <h3 id="name"></h3>

            Height:
            <h3 id="height"></h3>

            Mass:
            <h3 id="mass"></h3>

            Hair Color:
            <h3 id="hair_color"></h3>

            Eye Color:
            <h3 id="eye_color"></h3>
        </p>
        {% endfor %}
    </section>
{% endif %}

{% endblock %}